<!DOCTYPE html>
<html lang="en">
<head>
	<title> Write Restaurant </title>
    <link rel="stylesheet" type="text/css" href="/client/restaurant.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src= "/client/config.js"></script>
    <script src= "/client/write-restaurant.js"></script>
    <link rel="icon" href="/client/images/icon.ico" type="image/x-icon">
    
    
</head>

	<body data-ng-app="addRestaurantApp" data-ng-controller="addRestaurantCtrl">
        <div id="wrapper">
        <header>Restaurants Reviews</header>

    
<div id="router_button">
    <a href="/client/browse-restaurant.html" id="browse-router">Browse Restaurant</a>   
</div>
<div id="router_button">
    <a href="/client/view-restaurants.html" id="view-router">View Restaurants</a></div>
<div id="router_button">
    <a href="/client/home.html" id="home-router">Home</a>       
</div>
            
<div class="container">
<div id="pizza">
    <img  src="/client/images/pizza.jpg">
</div>
<div id="nachos">
    <img  src="/client/images/nachos.jpg">
</div>
<div id="burger">
    <img  src="/client/images/burger.jpg">
</div>
<div id="german">
    <img  src="/client/images/german.jpg">
</div> 
 </div>
    
<div class="container2">
<div id="japanese">
    <img  src="/client/images/japanese.jpg">
</div>
<div id="chinese">
    <img  src="/client/images/chinese.png">
</div>
<div id="fries">
    <img src="/client/images/fries.jpg">
</div>
</div>
<main>
    <section>
        <form id="form">
            <div>
                <label for="restaurantName">Restaurant Name</label>
                <input type="text" id="restaurantName" name="restaurantName" size="30" data-ng-model="restaurantName">
            </div>
            <div>
                <label for="foodType">Food Type</label>
                <input type="text" id="foodType" name="foodType" size="30" data-ng-model="foodType">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" id="location" name="location" size="30" data-ng-model="location">
            </div>
            <div>
                <label for="criticRating">Critic Rating: 1 to 5 stars</label>
                <input type="range" id="criticRating" name="criticRating" size="5" data-ng-model="criticRating">
            </div>
            <div>
                <label for="patronRating">Patron Rating: 1 to 5 stars</label>
                <input type="range" id="patronRating" name="patronRating" size="5" data-ng-model="patronRating">
            </div>
            
            <div>
                <button id="submit" data-ng-click="dataSubmit()">Submit</button>
            </div>
            
        <div>{{addResults}}</div>
        
        </form>
    
    </section>    
        
        </main>
</div>
</body>
</html>
